PORT=5000
MONGO_URI=mongodb://trishuladmin:<password>@ac-pazxdyd-shard-00-00.agnv9cs.mongodb.net:27017,ac-pazxdyd-shard-00-01.agnv9cs.mongodb.net:27017,ac-pazxdyd-shard-00-02.agnv9cs.mongodb.net:27017/?ssl=true&replicaSet=atlas-xy9crd-shard-0&authSource=admin&appName=TrishulCluster